//
//  CodeSigningAndProvisioning.xcconfig
//  CodeSigningAndProvisioning
//
//  Created by Robert Shand on 2021-09-02.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// To ease development on device with your own Apple Developer Account
// set the following to your TEAM ID
// If this value is empty it will default to B6QG723P8Z
DEVELOPMENT_TEAM_OVERRIDE =
DEVELOPMENT_TEAM = $(DEVELOPMENT_TEAM_OVERRIDE:default=B6QG723P8Z)

// Similiar to the DEVELOPMENT_TEAM - to allow for easier development
// on a different Apple Developer Account set the PRODUCT_BUNDLE_IDENTIFIER_BASE
// to be something different e.g. PRODUCT_BUNDLE_IDENTIFIER_BASE = com.example.opensesame
// This would set the main targets PRODUCT_BUNDLE_IDENTIFIER to com.example.opensesame
// and set the various sub-targets to things like com.example.opensesame.Autofill-iOS
//
// NOTE - The PRODUCT_BUNDLE_IDENTIFIER_BASE is also configured to setup the iCloud Container Identifiers,
// the Ubiquity Container Identifiers and the Keychain access groups.
// e.g. iCloud.$(PRODUCT_BUNDLE_IDENTIFIER_BASE) and $(AppIdentifierPrefix)$(PRODUCT_BUNDLE_IDENTIFIER_BASE)
// Check in the OpenSesame (macOS and iOS) entitlements files and the Info.plists
PRODUCT_BUNDLE_IDENTIFIER_BASE = 
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_BASE:default=com.ethanlipnik.OpenSesame)

// Finally we allow the configuration of the AppGroup
APP_GROUP_OVERRIDE = 
APP_GROUP = $(APP_GROUP_OVERRIDE:default=group.OpenSesame.ethanlipnik)

// Expose a number of configured XCCONFIG settings via autogenerating a Swift file
// The BuildConfiguration target runs a script phase that runs GenerateBuildConfig.sh
// the script greps for environment variables prefixed with OPENSESAME_BUILDCONFIG_
// and then using sed generates OpenSesameConfig.generated.swift
//
// This allows for the Keychain code to make use of the APP_GROUP
// Whilst it is possible to get the Bundle Identifier at runtime; it doesn't appear
// to be possible to get the entitlements
// See this https://medium.com/@hamdullahshah/generating-code-from-xcode-configurations-6fd203ec69ef
// https://web.archive.org/web/20210911144926/https://medium.com/@hamdullahshah/generating-code-from-xcode-configurations-6fd203ec69ef
OPENSESAME_BUILDCONFIG_APP_GROUP = $(APP_GROUP)
OPENSESAME_BUILDCONFIG_PRODUCT_BUNDLE_IDENTIFIER_BASE = $(PRODUCT_BUNDLE_IDENTIFIER_BASE)
