//
//  CodeSigningAndProvisioning.xcconfig
//  CodeSigningAndProvisioning
//
//  Created by Robert Shand on 2021-09-02.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// To ease development on device with your own Apple Developer Account
// set the following to your TEAM ID
// If this value is empty it will default to B6QG723P8Z
DEVELOPMENT_TEAM_OVERRIDE =
DEVELOPMENT_TEAM = $(DEVELOPMENT_TEAM_OVERRIDE:default=B6QG723P8Z)

// Similiar to the DEVELOPMENT_TEAM - to allow for easier development
// on a different Apple Developer Account set the PRODUCT_BUNDLE_IDENTIFIER_BASE
// to be something different e.g. PRODUCT_BUNDLE_IDENTIFIER_BASE_OVERRIDE = com.example.opensesame
// This would set the main targets PRODUCT_BUNDLE_IDENTIFIER to com.example.opensesame
// and set the various sub-targets to things like com.example.opensesame.Autofill-iOS
PRODUCT_BUNDLE_IDENTIFIER_BASE_OVERRIDE = 
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_BASE_OVERRIDE:default=com.ethanlipnik.OpenSesame)
